<div class="markdown-body">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- karl-park github io 블로그 광고 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5338438534915104"
             data-ad-slot="8132232581"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        
                <br/>
  {{ post.content }}
</div>
<br/>
<br/>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- karl-park github io 블로그 광고 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5338438534915104"
     data-ad-slot="8132232581"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
