<footer class="footer-main">
    {{ site.name }} © {{ site.time | date: '%Y' }} <a class="link" href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>

    <p class="extra">
        <a class="link" href="http://koppl.in/indigo">Indigo theme</a> by <a class="link" href="http://koppl.in">Kopplin</a>
    </p>
</footer>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- mrkarl ad 001 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5338438534915104"
     data-ad-slot="1277261876"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>